
 .header-img{
    width: 650px;
    height: 600px;
    
  }
  .header-title{
    line-height:normal;
  }
.apply{
    background-color: #2E6ED5;
    color: white;
    padding: 16px 20px;
}
.hire-dev{
    color: #2E6ED5;
    font-weight: 600;
    margin-left: 15px;
}

.here{
  color: #2E6ED5;
  font-weight: 600;
}
.bg{
  background-color: #f8f8f8;
}
