
 .header-img{
    width: 650px;
    height: 600px;
    
  }
  .header-title{
    line-height:2px;
  }
.apply{
    background-color: #2E6ED5;
    color: white;
    padding: 16px 20px;
}
.hire-dev{
    color: #2E6ED5;
    font-weight: 600;
    margin-left: 15px;
}

.here{
  color: #2E6ED5;
  font-weight: 600;
}
.bg{
  background-color: #f8f8f8;
}

.swiper {
  width: 100%;
  height: 100%;
}

.carousel-container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top right text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
}




