.carousel-container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top right text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
}
