/* icon */
/* 
facebook
 <i class="fa-brands fa-facebook"></i>
twitter
<i class="fa-brands fa-twitter"></i>
linkdin
<i class="fa-brands fa-linkedin"></i>
instagram
<i class="fa-brands fa-instagram"></i>
youtub
<i class="fa-brands fa-youtube"></i>

// fonts 
font-family: open sans
font-weight: 500

//heading 
h1- 48px 
h2-36px
h3-28px
h4-20px
//paragraph
p-18px
p-16px
p-14px
Color: #212121
Color: #3dbef8
// btn color 
color:#2e6edf

// banner color
#2b47c5 
#9040ec
// bag icon color 
#6c7bd4

//footer color
#212121
#2e2e2e

*/
